* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  height: 80px;
  background: 6EB5FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}
.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
  padding: 10px;
  border: solid #328181;
  border-radius: 80px;
  background-color: #328181;
}
#bu {
  background-color: #328181;
  color: white;
}
nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #328181;
}

.main {
  background: #3da5408e;
}

.main-container {
  padding: 0;
  display: flex;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  justify-content: center;
  padding-left: 0;
}

.column-left {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  color: black;
  background: url("ten.png");
  background-repeat: no-repeat;
  background-position: 0%;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: 1rem;
  color: #000;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #ffaaaa8e;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button :hover {
  background: #fff;
  color: black;
}

.column-right {
  display: flex;
  height: 600px;
  width: 50%q;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}

button:hover {
  color: azure;
}

.wrapper .header {
  width: 100%;
  height: 50px;
  background: #328181;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.cards_wrap {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  padding: 15px 25px;
  width: 25%;
}

.cards_wrap .card_inner {
  background: #fff;
  border-radius: 5px;
  padding: 35px 20px;
  min-width: 225px;
  min-height: 315px;
  max-height: 370px;
  width: 100%;
}

.cards_wrap .card_item img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.cards_wrap .card_item .role_name {
  color: #328181;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name {
  color: #b6c0c2;
  font-size: 12px;
  font-weight: 100;
  margin: 5px 0 10px;
}

.cards_wrap .card_item .film {
  font-size: 14px;
  line-height: 24px;
  color: #7b8ca0;
}

@media screen and (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
  .wrapper .header {
    font-size: 16px;
    height: 60px;
  }
}

@media screen and (max-width: 568px) {
  .cards_wrap .card_item {
    width: 100%;
  }
  .wrapper .header {
    font-size: 14px;
  }
}
.contact-form form {
  width: 80%;
}
.contact-form .row {
  width: 100%;
  display: flex;
}
.input50 {
  width: 50%;
  margin: 0 10px;
}
.input100 {
  width: 100%;
  margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea {
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  padding: 10px;
  outline: none;
  margin: 10px 0;
}
.contact-form .row textarea {
  height: 150px;
}
.contact-form .row input[type="submit"] {
  background-color: #328181;
  color: #fff;
  border: 0;
  cursor: pointer;
}
@media (max-width: 950px) {
  .hero-img,
  .sub-nav {
    display: none;
  }
  .content {
    flex: 0 0 100%;
  }
  .main-nav {
    width: 100%;
  }
  .contact-form form {
    width: 100%;
  }
  .contact-form .row {
    flex-direction: column;
  }
  .contact-form .input100,
  .contact-form .input50 {
    width: 100%;
  }
}
.description {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #328181;
}

.contact-form form {
  width: 80%;
}
.contact-form .row {
  width: 100%;
  display: flex;
}
.input50 {
  width: 50%;
  margin: 0 10px;
}
.input100 {
  width: 100%;
  margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea {
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  padding: 10px;
  outline: none;
  margin: 10px 0;
}
.contact-form .row textarea {
  height: 150px;
}
.contact-form .row input[type="submit"] {
  background-color: #328181;
  color: #000000;
  border: 0;
  cursor: pointer;
  border-radius: 1rem;
}
@media (max-width: 950px) {
  .hero-img,
  .sub-nav {
    display: none;
  }
  .content {
    flex: 0 0 100%;
  }
  .nav {
    width: 100%;
  }

  .contact-form form {
    width: 100%;
    background-color: #e36686;
  }
  .contact-form .row {
    flex-direction: column;
  }
  .contact-form .input100,
  .contact-form .input50 {
    width: 100%;
  }
}

.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.work img {
  width: 100%;
  height: 100%;
}
.mentalhealth {
  display: flex;
  background-color: #328181;
  color: white;
  justify-content: center;
}

.content1 {
  padding: 1rem;
  margin: 1rem;
  background-color: #aed4ff;
}
.content2 {
  padding: 1rem;
  margin: 1rem;
  background-color: #c5e0ff;
}

.music {
  background-color: #0f970c8e;
  color: #328181;
}
